header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
h1 {
  font-size: xx-large;
  padding-left: 20px;
  font-weight: 900;
}
nav {
  height: 100%;
  display: flex;
}
header nav a {
  justify-content: space-around;
  height: 100%;
  width: 150px;
  background-color: white;
  text-align: center;
  line-height: 10vh;
  font-size: x-large;
  font-weight: 500;
}
section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.sentence1 {
  background-color: red;
  height: 100vh;
}
.sentence2 {
  background-color: purple;
  height: 100vh;
}
.sentence3 {
  background-color: yellow;
  height: 100vh;
}
.topbutton {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: x-large;
  color: white;
  background-color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 50px;
  font-weight: 900;
}
p {
  word-spacing: 5px;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  white-space: pre-line;
}
a:active {
  background-color: black;
  color: white;
}
