* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: indianred;
  background: linear-gradient(purple, pink);
  height: 100vh;
  padding: 20px;
}
.frame {
  text-align: center;
  width: 320px;
  border: 2px solid white;
  /* margin : auto = 좌우의 값을 자동으로 대칭을 만들어 준다 */
  margin: auto;
  /*position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%); */ /* 얘는 뒤에서 배움 */
  border-radius: 5%;
}
.profile {
  background-image: url(../../resources/bao.jpg);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 20px auto;
}
.frame img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}
.frame h2 {
  color: white;
  margin-top: 10px;
}
.frame a {
  border: 2px solid white;
  display: block;
  text-decoration: none;
  color: white;
  border-color: white;
  padding: 12px;
  margin: 15px;
}
.frame a:active {
  background-color: white;
  color: black;
  border-color: white;
}
