body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 100vh;
}
h1 {
    font-size: 100px;
}
.TEST div.input{
    width: 500px;
    height: 50px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    border: 2px solid black;
}
.input input {
    font-size: 20px;
    width: 400px;
    height: 40px;
}
.TEST i {
    font-size: 40px;
    margin-right: 20px;
    margin-left: 20px;
}
.TEST {
    margin-top: 50px;
}